{%- assign uniq = 0 | rand %}

{%- style -%}
  .yc-{{ uniq }}-add-to-cart button {
    background: {{ block_settings.background_color.hex }} !important;
    color: {{ block_settings.text_color.hex }} !important;
    border: 1px solid !important;
    border-color: {{ block_settings.border_color.hex }} !important;
    font-family: var(--yc-font-family);
  }


{%- endstyle -%}

<div class='yc-{{ uniq }}-add-to-cart{% if block_settings.is_sticky %} is_sticky{% endif %} add-to-cart-btn'>
  <button
    onclick='addToCart("{{ snippetId }}")'
  >
    <span
      class='spinner hidden'
      id='loading__cart'
    ></span>
    <span class="btn-content" >
      {% render 'icon', name: 'bag' %}
      {{ block_settings.text_content }}
    </span>
  </button>
</div>

{% javascript %}

  const TRANSLATED_TEXT = {
    empty_inventory: "{{ 'errors.empty_inventory' | t }}"
  }
{% endjavascript %}
