{{ 'product-slider.css' | asset_url | stylesheet_tag }}

{% style %}
  #yc_slider_{{ id }} .splide__arrow {
    width: 54px;
    height: 54px;
    margin: 0 100px;
    /* border: 1px solid #EDEDED; */
    /* box-shadow: 4px 10px 76px rgba(0, 0, 0, 0.14); */
    border-radius: 0px 8px 8px 0px;
  }

  #yc_slider_{{ id }} .product-block .product-slider {
    background: white;
    height: 100%;
  }

  #yc_slider_{{ id }} .splide__arrow--next {
    border-radius: 0 8px 8px 0;
    transform: translate(215px, -30px);
  }

  #yc_slider_{{ id }} .splide__arrow--prev {
    border-radius: 8px 0 0 8px;
    transform: translate(-215px, -30px)
  }

  #yc_slider_{{ id }} .splide__arrow svg {
    height: 28px;
    width: 28px;
    fill: #000;
  }

  @media screen and (max-width: 768px) {
    #yc_slider_{{ id }} .product-details {
      display: none;
    }
  }

{% endstyle %}
<div
  class='splide yc-slider__{{ view }} product-slider'
  id='yc_slider_{{ id }}'
>
  <div class='splide__track'>
    <ul class='splide__list'>
      {%- for block in blocks %}
        {% assign settings = block.settings %}
        <li
          class='splide__slide'
          {{ block.youcan_attributes }}
        >
          <a
            href='{{ settings.product.url }}'
            class='product-block'
          >
            <div class="product-slider">
              <div class='product-thumbnail'>
                 <img
                  loading='lazy'
                  src='{%- if settings.product.thumbnail -%} {{ settings.product.thumbnail }} {%- else -%} {{ 'default_product.jpeg' | asset_url }} {%- endif -%}'
                  >
                  {% if settings.tag_text %}
                    <div
                      class="tag {{ settings.tag_position }}"
                      style="background: {{ settings.tag_color.hex }}; color: {{ settings.tag_text_color.hex }}"
                    >
                      {{ settings.tag_text }}
                    </div>
                  {% endif %}
              </div>
              <div class='product-details'>
                <span class='product-title'>{{ settings.product.name }}</span>
                <div class='prices'>
                  {% if section.settings.show_compare_at_price and settings.product.compare_at_price %}
                    <span class='compare-at-price'>{{ settings.product.compare_at_price | money }}</span>
                  {% endif %}
                  {% if settings.product.price %}
                    <span class='product-price'>{{ settings.product.price | money }}</span>
                  {% endif %}
                </div>
                <button class="yc-btn-secondary">
                  {{ 'general.buy_now' | t }}
                </button>
              </div>
            </div>
          </a>
        </li>
      {%- endfor %}
    </ul>
  </div>  
</div>



