{{ 'upsell.css' | asset_url | stylesheet_tag }}

<div class="upsell-page">
  {%- for block in section.blocks -%}
    {%- if block.type == 'upsell_title' -%}
      <div class="upsell-banner">
        {{ block.settings.upsell_text }}
      </div>
    {%- endif -%}
  {%- endfor -%}

  <div class="upsell-form-container upsell-container">
    <div class="upsell-content">
      {{ upsell.description }}
    </div>
    <form id="upsell-form" action="/api/upsells/{{ upsell.id }}/answer" method="post">
      <input
        type="hidden"
        name="_token"
        value="{{ csrf }}" />
      <input
        type="hidden"
        name="upsell_id"
        value="{{ upsell.id }}" />
        <input
    type="hidden"
    name="order_id"
    value="{{ order.id }}" />
      {%- for product in upsell.products %}
        <input
          type="hidden"
          name="product_offers[{{ product.id }}]"
          value="{{ product.variants.0.id }}" />
      {%- endfor %}
      <div class="upsell-form-submit">
        <input
          type="submit"
          name="answer"
          value="yes" />
        <input
          type="submit"
          name="answer"
          value="no" />
      </div>
    </form>
  </div>
</div>

<script>
  document.getElementById("upsell-form").addEventListener("submit", function(event) {
  event.preventDefault();
  const form = event.target;
  const formData = new FormData(form);

  const answer = event.submitter.value;
  formData.set('answer', answer);

    fetch(form.action, {
      method: form.method,
      body: formData,
      headers: {
        "Accept": "application/json"
      },
      credentials: "same-origin"
    })
    .then(response => {
      if (response.ok) {
        window.location.href = "/checkout/thankyou";
      } else {
        // error handling
      }
    })
    .catch(error => {
      console.error("Error:", error);
    });
  });
</script>


{%- schema %}
  {
    "label": "Upsell",
    "blocks": [
      {
        "limit": 1,
        "type": "upsell_title",
        "label": "Title",
        "settings": [
          {
            "type": "richtext",
            "id": "upsell_text",
            "label": "Painer",
            "info": "HEHEHEHE"
          }
        ]
      }
    ],
    "settings": []
  }
{%- endschema %}
