{%- style -%}
  .youcan-section {
    background-color: #f7f7f7;
  }

  .upsell-container {
    max-width: 724px;
    margin: 0 auto;
  }

  .upsell-page {
    padding: 80px 0;
    position: relative;
  }

  .upsell-banner {
    width: 100%;
    padding: 42px 10px;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(60, 65, 95, 0.2);
    border-width: 3px 0 3px 0;
    margin-bottom: 80px;
  }

  .upsell-content {}

  .upsell-form-submit {
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: red; // debug
    display: flex;
  }
{%- endstyle -%}

<div class="upsell-page">
  {%- for block in section.blocks -%}
    {%- if block.type == 'upsell_title' -%}
      <div class="upsell-banner">
        {{ block.settings.brah_brah }}
      </div>
    {%- endif -%}
  {%- endfor -%}

  <div class="upsell-form-container upsell-container">
    <div class="upsell-content">
      {{ upsell.description }}
    </div>
    <form action="/api/upsells/{{ upsell.id }}/answer" method="post">
      {{ csrf }}
      <input
        type="text"
        name="order_id"
        value="{{ order.id }}" />
      {%- for product in upsell.products %}
        <input
          type="text"
          name="product_offers[{{ product.id }}]"
          value="{{ product.variants.0.id }}" />
        <br/>
      {%- endfor %}
    </form>

    <div class="upsell-form-submit">
      <input
        type="submit"
        name="answer"
        value="yes" />
      <input
        type="submit"
        name="answer"
        value="no" />
    </div>
  </div>
</div>

{%- schema %}
  {
    "label": "Upsell",
    "blocks": [
      {
        "limit": 1,
        "type": "upsell_title",
        "label": "Title",
        "settings": [
          {
            "type": "richtext",
            "default": "Hello mr ilyas",
            "id": "brah_brah",
            "label": "Painer",
            "info": "HEHEHEHE"
          }
        ]
      }
    ],
    "settings": []
  }
{%- endschema %}
